@skyBlue: #0fb3ff;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}


.jumbotron {
  background-color: @skyBlue;
  color: black;
  .margenes(50px, 0px); 
}

.btn {
  color: black;
  background-color: darkCyan; 
}

.img-fluid {
  width: 100%;
  height: 280px; 
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @skyBlue;
  .margenes(10px, 0px); 
}

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }